

<header>
<nav class="navbar">
    <div class="brand">

    </div>
    <div class="item">
        <a class="anchor" href="#">Deja partenaire?</a>
        <a href="/users/sign_in"  class='btn'>Se connecter</a>
    </div>
</nav>
</header>





<body>




<div id="wrapper">
    <div id="left">
        <div id="showcase">
            <div class="showcase-content">
                <h2 class="showcase-text"><strong>Inscrivez votre</br>
                    <span>hébergement</span> </br> sur  Runbnb.com </strong>
                </h2>
                
                
            </div>
        </div>

    </div>
    <div class="autre-text">
        <h3 class="text"><strong>Inscrivez votre
            <span>hébergement</span>  sur  Runbnb.com </strong>
        </h2>
    
    </div>



    <div class="right">
    <div class="carrer_lava">
        <div class="signin" style="height:918px;">
            <h2><strong>S'inscrire </strong></h2>
            <form>
                <div>
                    <label>Nom</label>
                    <input type="text" class="text-input" placeholder="Entrez votre nom">

                </div>
                <div>
                    <label>Prénom</label>
                    <input type="password" class="text-input" placeholder="Entrez votre prénom">
                </div>
                <div>
                    <label>Adress e-mail</label>
                    <input type="password" class="text-input" placeholder="Entrez votre e-mail">
                </div>
                <div>
                    <label>Numero de téléphone</label>
                    <input type="password" class="text-input" placeholder="+261---">
                </div>
                <div>
                    <label>Date de naissance</label>
                    <input type="password" class="text-input" placeholder=" Entrez votre date de naissance">
                </div>
                <div>
                    <label>Mot de passe</label>
                    <input type="password" class="text-input" placeholder="***********">
                </div>

       
                       <button class="button"><span>Commencer </span></button>


                     <div class="small">
                        <small>Vous avec un déja un compte? cliquez<a href="#"> ...ici </a>pour poursuivre l'inscription</samll>

                     </div>
                
        </div>
            </form>

     


        </div>

    </div>


</div>
</body>





