*{box-sizing: border-box;
  padding:0;
  margin:0;}

.conte{position: relative;
  left: 70px;
top:50px;}

 p{font-size: 13px;}
 .titre{font-size: 15px;} 

 
 .logo{margin-left: 50px;}

/*.boutton{width: 100px;
	    margin-top: 50px;
		border-color: #F47E54;

		color: #F47E54;
		background-color: white;
		box-shadow: 0;
		}*/

.myButton {
	position: relative;
	top: 70px;
	background-color:#ffffff;
	border-radius:5px;
	border:1px solid #F47E54;
	display:inline-block;
	
	color:#F47E54;
	font-family:Roboto;
	font-weight: bold;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
}

.form-group{width: 350px;}
.myButton:hover {
	text-decoration:none;
	color: white;
	background-color:#F47E54;
}

.étape1{position: relative;
	top: 120px;}

.bout1{display: flex;
position: relative;
top: 40px;}	





/*

dmlsgjqmelkfgjqmlkefhjmlskfhj*/









