*{box-sizing: border-box;
  padding:0;
  margin:0;}

.conte{position: relative;
  left: 70px;
top:50px;}

 p{font-size: 13px;}
 .titre{font-size: 15px;} 

 
 .logo{margin-left: 50px;}



.myButton {
	background-color:#ffffff;
	border-radius:5px;
	border:1px solid #F47E54;
	display:inline-block;
	
	color:#F47E54;
	font-family:Roboto;
	font-weight: bold;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
}

.form-group{width: 350px;}
.myButton:hover {
	text-decoration:none;
	color: white;
	background-color:#F47E54;
}

.étape1{position: relative;
	top: 120px;}

.bout1{display: flex;
position: relative;
top: 40px;}	










  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  #ui-datepicker-div{
  width:318px;
  }
  p{
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background: #ededed;
  margin:2px 2px;
  display: inline-flex;
  }
  .container{
  
  border-style: groove;
  
  border:1px;
  position:relative;
  top:33px;
  width:500px;
  height:333px;
  padding:17px;
  
  background-color:#F4F4F4;
  
  }
  .container1{
  
  border-style: groove;
  position:relative;
  top:53px;
  margin-left:65px;
  width:500px;
  height:412pxpx;
  padding-top:22px;
  padding:17px;
  
  background-color:#F4F4F4;
  
  }
  .container2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border:2px;
  position:relative;
  top:33px;
  margin-left:65px;
  width:500px;
  height:466px;
  padding-top:22px;
  padding:17px;
  display:none;
  background-color:#F4F4F4;
  
  }
  main{
  display: none;
  }
  .button{
  
  position:relative;
  top:123px;
  margin-left:77px;
  padding: 10px;
  width: 100px;
  border: none;
  outline:none;
  cursor:pointer;
  border-radius:5px;
  background:rgb(233, 80, 10);
  font-size:12px;
  font-weight: bold;
  color: whitesmoke;
  float:left
  
  }
  .checkbox {
  
  margin-top: 4px;
  width: 75px;
  
  
  }
  input[type='checkbox'] {
  -webkit-appearance:none;
  
  width:20px;
  height:20px;
  background:white;
  border:2px solid rgb(141, 135, 135);
  border-radius:5px;
  
  }
  input[type='checkbox']:checked {
  background: #f96816;
  outline: none;
  
  }
  .bt  {
  background-color: white ;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  }
  
  .bt:not(:last-child) {
  border-right: none; /* Prevent double borders */
  }
  
  .bt:hover {
  background-color: rgb(233, 80, 10);
  }
  .button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .row{
  box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 1.5px 10px rgba(0, 0, 0, 0.06),
  0 2.3px 7.9px rgba(0, 0, 0, 0.052),
  0 4.8px 12.4px rgba(0, 0, 0, 0.056),
  0 2px 2px rgba(0, 0, 0, 0.2)
  ;
  
  
  
  background: white;
  border-radius: 5px;
  
  
  }
  .col-6{
  color:black;
  }
  .list{
  padding:0px;
  }
  span{
  color:black;
  }
  .mivadika{
  float:right;
  }
  .miakatro{
  position:absolute;
  top:-222px;
  display:block;
  font-size:12px;
  
  }
  .none{
  display:none;
  }
  .btn .btn-secondary{
  width: 33px !important;
  }
  #clicke1{
  cursor: pointer;
  }
  .imgPreview{
  max-width:250px;
  max-height:250px;
  }
  #map { position: absolute; top: 30px; bottom: 0; width: 100%; }
  .coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
  }
  .parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  }
  .parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
  }
  .btn-upload {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  }
  /*ex-photo*/
  .label-file {
  
  color: #00b1ca;
  }
  .inserer{
  
  border-style: groove;
  
  border:1px;
  position:relative;
  
  right: 20px;
  width:500px;
  height:333px;
  padding:17px;
  
  background-color:#F4F4F4;
  }
  .sary{
  border-style: groove;
  border:1px;
  position:relative;
  
right: 20px;
  width:500px;
  height:333px;
  padding:17px;
  
  background-color:#F4F4F4;
  }
  /*fin*/
  .datepicker{
  margin-left:110px;
  }
  .btn.active{background-color: #F47E54;
  color: whitesmoke;}
  .decrement-js.btn-primary{cursor: pointer;}
  .incremente-js.btn-primary{cursor: pointer;}
  .bu1{
  width:100px;
  height:27px;
  margin-left:55px;
  border-radius: 11px;
  background-color:white;
  text-align: center;
  font-size:12px;
  border: 1px #727C90;;
  color: #727C90;;
  border-style: solid;
  border-width: 2px;
  transition: all 0.5s;
  cursor: pointer;
  outline:none;
  outline: none !important;
  }
  .content-box{
  
  
  
  border:0px;
  position:relative;
  top:33px;
  width:400px;
  height:300px;
  padding:17px;
  margin-left:65px;
  
  background-color:transparent;}



  @media(max-width:768px){
    .tainer{
      width:800px!important;
    }
  }
