*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
font-family: 'Roboto', sans-serif;
font-weight: 300;
background: #fff !important;
overflow-x: hidden!important;
overflow-y: scroll!important;

}
.navbar {
    position:absolute;
    background-color: rgb(255, 255, 255);
    padding: 22px;
    width: 100%;
    
}
.logo{margin-left: 10px;}
.item{
font-family: 'Roboto', sans-serif;
float: right;
padding-right: 11px;
margin-right: 90px;
text-decoration: none;
}
a{
text-decoration: none;
margin-right: 22px;

}