
	<main>
		<div class="container" style="width:800px; height:440px">
			<h4> calendrier </h4><br>
			<label style="color:#696565;">Cliquez sur chaque date individuellement. Toutes les dates visibles sont disponibles à la réservation. Ne vous inquitez pas, vous pourrez toujours ajouter ou supprimer des dates plus tard.</label>
			<br>
			<br>
			<div class="bx--form-item">
				<input type="text" id="start_date" class="datepicker" placeholder=" date de début " name="start_date[]">
				<input type="text" id="end_date" class="datepicker  " placeholder="date de fin" name="end_date[]">
			<div>
		</div>
	</main>
