<main>
        <h5 style="position:relative;top:30px;left: 80px;">Condition d'annulation </h5>
        <div class="container" style="width:688px; weight:255px;position:relative;top:70px;">
          <span style="position:relative;top:30px;">
            <h6 style="margin-bottom:44px;">Combien de jours avant leur arrivée les clients peuvent-ils annuler leur réservation gratuitement ? </h6>
            <!--   <span>
              <label class="bt" for="option1"> 1 jours</label>
              
              <label class="bt" forContinuerContinuer="option2">7 jours</label>
              <label class="bt" for="option3">14 jours</label>
              
              <label class="bt" for="option4">30 jours</label>
            </span> -->
            
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label  class="btn  active" for="option1" >1 jour
                <input type="radio" name="condition[]" id="option1" value="1 jours">
              </label>
              <label  class="btn active" for="option2" >7 jours
                <input type="radio" name="condition[]" id="option2" value="7 jours">
              </label>
              <label  class="btn active" for="option3" >14 jours
                <input type="radio" name="condition[]" id="option3" value="14jours">
              </label>
              <label  class="btn active" for="option4" >30 jours
                <input type="radio" name="condition[]" id="option4" value="30 jours">
              </label>
            </div>
          </span>
          <!--
          <span class="none">
            <input type="radio" class="btn-check"  name="condition[]"
            value="1 jours" id="option1" autocomplete="off"/>
            <input type="radio" class="btn-check" style ="visibility:none;"name="condition[]"
            id="option2" autocomplete="off" value="7 jours" />
            <input type="radio" class="btn-check" name="condition[]"
            id="option3" autocomplete="off"  value="14 jours" />
            <input type="radio" class="btn-check" name="condition[]"
            value="30 jours"  id="option4" autocomplete="off" />
            <span> -->
              
            </div>
          </main>