<main>
  <h5  style="position:relative;top:30px;left: 80px;"> Quels épuipements proposer vous? </h5>
  <div class="container" style="height:400px; position:relative;top:70px;">
    
    
    
    <%Equipement.all.each do |e|%><br>
    <input class="list" type="checkbox" name="equipement_ids[]" value="<%=e.id%>">
    <span style="position: relative;left: 20px;bottom: 4px;"><%= e.title%></span>
    <%end%>
    
    
    
  </div>
</main>