<main>
                <span style="position: relative;left:80px;top:30px;font-size:20px;"> Quelques informations importante avant d'inscrire votre hébergement:</span>
                <div class="container" style="width:555px;height:280px;position: relative;top:80px;">
                  <h5 style="font-size:17px;" > Les réservations sont elle confirmées immediatement?</h5>
                  <h6  style="color:#696565;font-size:14px;">Oui, des qu'un client éffectue une réservation,celle ci confirmées immédiatement </h6><br>
                  <h5 style="font-size:17px;"> Puis je choisir qui séjourne dans mon hébergement?</h5>
                  <h6 style="color:#696565;font-size:14px;" >Non tout nos utilisateurs peuvent réservé  une date </h6><br>
                  
                  <h5 style="font-size:17px;"> Puis je choisir les jours pour lesqueles je reçois les réservations ?</h5>
                  <h6 style="color:#696565;font-size:14px;" >Oui, il vous suffit de vous assurer  de votre calendrier est a jour.Fermez tout les dates pour lesquelles
                  vous ne souhaiter pas recevoir de réservation. Si vous recu des réservations via d'autre site, veuillez également férmez les dates en question
                  </h6><br>
                </div>
                <!-- Di------------------------------------------------->
              </main>