<main>
<div class="content-box">
  
   <input type="text" name="longitude" style="display: none;" value="" id="carte1">
  <input type="text" name="latitude" value="" style="display: none;" id="carte2">
  <div id="map"></div>
  <div id="coordinates" class="coordinates"></div>
</div>
</main>