<main>
                <div class="containerq" style="width:577px;margin-top:44px;margin-left:369px;height:433px;top:66px;">
                  <h5 style="margin-bottom:24px;position:relative;top:-60px; font-size:17px;"> Et voila! Vous avez fait tout le nécessaire a fin de pouvoir acceuillir vos Premieres clients</h5>
                  <h6 > Une fois votre inscription terminer, vous pourrez:</h6>
                  <ul style="color:#696565;margin-left:22px;"  >
                    <li>Gérer votre hébergement à partir de votre de bord</li><br>
                    <li>Recevoir des réservations des clients qui se rendent sur notre site et gagner de l'argent</li><br>
                    <li>Garder le contrôle des réservations de tous les sites sur lesquelles vous êtes inscrit(e) en synchronisant votre calendrier </li>
                    
                  </ul>
                  
                  
                  <input type="checkbox">
                  <label > J’atteste qu’il s’agit d’une activité d’hébergement légale disposant de  </label><br>
                  <label>toutes les autorisations nécessaires pouvant être présentées sur demande Runbnb.com</label></br>
                  <input type="checkbox" >
                  <label> J’ai lu et j’accepte les Conditions Générales de Runbnb.com</label><br>
               <%=submit_tag 'Ouvrir mon hébergement à la réservation', class:"button3",style:"position:absolute; top:450px;right:3px;"%>
                  
                </div>
              </main>

    

<style>
.containerq{
  
  border-style: groove;
  position:relative;
  top:53px;
  margin-left:65px;
  width:500px;
  height:412pxpx;
  padding-top:22px;
  padding:17px;
  
  background-color:#F4F4F4;
  
  }

  @media(max-width:1024px){
    .containerq{
      margin-left:230px!important;
    }
  }

 
</style>