<main>
  <h5 style="position:relative;top:30px;left: 80px;"> Règle de la maison </h5>
  <div class="container" style="height:533px;  position:relative;top:70px;">
    <span class="containo" style="width:633px;">
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="9">
      Hébergement fumeure<br>
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="10">
      Animaux domestique admise<br>
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="11">
      Enfant bienvenuee<br>
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="12">
      Fêtes/événements autorisése<br>
      <br><br>
      <hr>
      <h6> Arriveé <br> De </h6>
      <select name="arrive" id="arrive" class=" bu1 btn-light" onclick="getValue();"><option value="00h:00">00h:00</option>
      <option value="00h:30">00h:30</option>
      <option value="01h:00">01h:00</option>
      <option value="01h:30">01h:30</option>
      <option value="02h:00">02h:00</option>
      <option value="02h:30">02h:30</option>
      <option value="03h:00">03h:00</option>
      <option value="03h:30">03h:30</option>
      <option value="04h:00">04h:00</option>
      <option value="04h:30">04h:30</option>
      <option value="05h:00">05h:00</option>
      <option value="05h:30">05h:30</option>
      <option value="07h:00">07h:00</option>
      <option value="07h:30">07h:30</option>
      <option value="08h:00">08h:00</option>
      <option value="08h:30">08h:30</option>
      <option value="09h:00">09h:00</option>
      <option value="09h:30">09h:30</option>
      <option value="10h:00">10h:00</option>
      <option value="10h:30">10h:30</option>
      <option value="11h:00">11h:00</option>
      <option value="11h:30">11h:30</option>
      <option value="12h:00">12h:00</option>
      <option value="12h:30">12h:30</option>
      <option value="13h:00">13h:00</option>
      <option value="13h:30">13h:30</option>
      <option value="14h:00">14h:00</option>
      <option value="14h30">14h30</option>
      <option value="15h:00">15h:00</option>
      <option value="15h:30">15h:30</option>
      <option value="16h:00">16h:00</option>
      <option value="16h:30">16h:30</option>
      <option value="17h:00">17h:00</option>
      <option value="17h:30">17h:30</option>
      <option value="18h:00">18h:00</option>
      <option value="19h:30">19h:30</option>
      <option value="20h:00">20h:00</option>
      <option value="20h:30">20h:30</option>
      <option value="21h:00">21h:00</option>
      <option value="21h:30">21h:30</option>
      <option value="22h:00">22h:00</option>
      <option value="22h:30">22h:30</option>
      <option value="23h:00">23h:00</option>
      <option value="23h:30">23h:30</option></select>
      <label style="margin-left:44px;"> à</label>
      <span style="margin-left:59px;"> </sapn>
        <select name="arrive" id="arrive" class="bu1 btn-light" style="margin-left:18px"><option value="00h:00">00h:00</option>
        <option value="00h:30">00h:30</option>
        <option value="01h:00">01h:00</option>
        <option value="01h:30">01h:30</option>
        <option value="02h:00">02h:00</option>
        <option value="02h:30">02h:30</option>
        <option value="03h:00">03h:00</option>
        <option value="03h:30">03h:30</option>
        <option value="04h:00">04h:00</option>
        <option value="04h:30">04h:30</option>
        <option value="05h:00">05h:00</option>
        <option value="05h:30">05h:30</option>
        <option value="07h:00">07h:00</option>
        <option value="07h:30">07h:30</option>
        <option value="08h:00">08h:00</option>
        <option value="08h:30">08h:30</option>
        <option value="09h:00">09h:00</option>
        <option value="09h:30">09h:30</option>
        <option value="10h:00">10h:00</option>
        <option value="10h:30">10h:30</option>
        <option value="11h:00">11h:00</option>
        <option value="11h:30">11h:30</option>
        <option value="12h:00">12h:00</option>
        <option value="12h:30">12h:30</option>
        <option value="13h:00">13h:00</option>
        <option value="13h:30">13h:30</option>
        <option value="14h:00">14h:00</option>
        <option value="14h:30">14h:30</option>
        <option value="15h:00">15h:00</option>
        <option value="15h:30">15h:30</option>
        <option value="16h:00">16h:00</option>
        <option value="16h:30">16h:30</option>
        <option value="17h:00">17h:00</option>
        <option value="17:30">17:30</option>
        <option value="18h:00">18h:00</option>
        <option value="19h:30">19h:30</option>
        <option value="20h:00">20h:00</option>
        <option value="20h:30">20h:30</option>
        <option value="21h:00">21h:00</option>
        <option value="21h:30">21h:30</option>
        <option value="22h:00">22h:00</option>
        <option value="22h:30">22h:30</option>
        <option value="23h:00">23h:00</option>
        <option value="23h:30">23h:30</option></select>
        </sapn>
        <h6> Départ <br> De </h6>
        <select name="depart" id="depart" class="bu1 btn-light"><option value="00h:00">00h:00</option>
        <option value="00h:30">00h:30</option>
        <option value="01h:00">01h:00</option>
        <option value="01h:30">01h:30</option>
        <option value="02h:00">02h:00</option>
        <option value="02h:30">02h:30</option>
        <option value="03h:00">03h:00</option>
        <option value="03h:30">03h:30</option>
        <option value="04h:00">04h:00</option>
        <option value="04h:30">04h:30</option>
        <option value="05h:00">05h:00</option>
        <option value="05h:30">05h:30</option>
        <option value="07h:00">07h:00</option>
        <option value="07h:30">07h:30</option>
        <option value="08h:00">08h:00</option>
        <option value="08h:30">08h:30</option>
        <option value="09h:00">09h:00</option>
        <option value="09h:30">09h:30</option>
        <option value="10h:00">10h:00</option>
        <option value="10h:30">10h:30</option>
        <option value="11h:00">11h:00</option>
        <option value="11h:30">11h:30</option>
        <option value="12h:00">12h:00</option>
        <option value="12h:30">12h:30</option>
        <option value="13h:00">13h:00</option>
        <option value="13h:30">13h:30</option>
        <option value="14h:00">14h:00</option>
        <option value="14h:30">14h:30</option>
        <option value="15h:00">15h:00</option>
        <option value="15h:30">15h:30</option>
        <option value="16h:00">16h:00</option>
        <option value="16h:30">16h:30</option>
        <option value="17h:00">17h:00</option>
        <option value="17:30">17:30</option>
        <option value="18h:00">18h:00</option>
        <option value="19h:30">19h:30</option>
        <option value="20h:00">20h:00</option>
        <option value="20h:30">20h:30</option>
        <option value="21h:00">21h:00</option>
        <option value="21h:30">21h:30</option>
        <option value="22h:00">22h:00</option>
        <option value="22h:30">22h:30</option>
        <option value="23h:00">23h:00</option>
        <option value="23h:30">23h:30</option></select>
        <label style="margin-left:44px;"> à</label>
        <span style="margin-left:59px;">
          <select name="depart" id="depart" class="bu1 btn-light" style="margin-left:18px"><option value="00h:00">00h:00</option>
          <option value="00h:30">00h:30</option>
          <option value="01h:00">01h:00</option>
          <option value="01h:30">01h:30</option>
          <option value="02h:00">02h:00</option>
          <option value="02h:30">02h:30</option>
          <option value="03h:00">03h:00</option>
          <option value="03h:30">03h:30</option>
          <option value="04h:00">04h:00</option>
          <option value="04:30">04:30</option>
          <option value="05h:00">05h:00</option>
          <option value="05h:30">05h:30</option>
          <option value="07h:00">07h:00</option>
          <option value="07h:30">07h:30</option>
          <option value="08h:00">08h:00</option>
          <option value="08h:30">08h:30</option>
          <option value="09h:00">09h:00</option>
          <option value="09h:30">09h:30</option>
          <option value="10h:00">10h:00</option>
          <option value="10h:30">10h:30</option>
          <option value="11h:00">11h:00</option>
          <option value="11h:30">11h:30</option>
          <option value="12h:00">12h:00</option>
          <option value="12h:30">12h:30</option>
          <option value="13h:00">13h:00</option>
          <option value="13h:30">13h:30</option>
          <option value="14h:00">14h:00</option>
          <option value="14:30">14:30</option>
          <option value="15h:00">15h:00</option>
          <option value="15h:30">15h:30</option>
          <option value="16h:00">16h:00</option>
          <option value="16h:30">16h:30</option>
          <option value="17h:00">17h:00</option>
          <option value="17:30">17:30</option>
          <option value="18h:00">18h:00</option>
          <option value="19h:30">19h:30</option>
          <option value="20h:00">20h:00</option>
          <option value="20h:30">20h:30</option>
          <option value="21h:00">21h:00</option>
          <option value="21h:30">21h:30</option>
          <option value="22h:00">22h:00</option>
          <option value="22h:30">22h:30</option>
          <option value="23h:00">23h:00</option>
          <option value="23h:30">23h:30</option></select>
          </sapn>
        </div>
      </main>