<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Sign in -plural</title>
    </head>

    <header>
        <nav class="navbar">
            <div class="brand">

            </div>
            <div class="item">
                <a class="anchor" href="#">Deja partenaire?</a>
                <button class="btn"> Se connecter </button>
            </div>
        </nav>
    </header>





    <body>



        
        <div id="wrapper">
            <div id="left">
                <div id="showcase">
                    <div class="showcase-content">
                        <h2 class="showcase-text"><strong>Inscrivez votre</br>
                            <span>hébergement</span> </br> sur  Runbnb.com </strong>
                        </h2>
                        
                        
                    </div>
                </div>

            </div>
            <div class="autre-text">
                <h3 class="text"><strong>Inscrivez votre
                    <span>hébergement</span>  sur  Runbnb.com </strong>
                </h2>
            
            </div>



            <div id="right">
            <div class="carrer">
                <div id="signin">
                    <h2><strong>Se connecter</strong></h2>
                    <form>
                        <div>
                            <label>Adress e-mail</label>
                            <input type="text" class="text-input" placeholder="Entrez un adresse e-mail valide">

                        </div>
                        <div>
                            <label>Mot de passe</label>
                            <input type="password" class="text-input" placeholder="Entrez votre mot de passe">
                        </div>

                        <button type="submit" class="primary-btn">Sign in </button>
                </div>
                    </form>

             


                </div>

            </div>


        </div>
    </body>

</html>


